.container-fluid.text-center
	.row
		.col-md-4.col-md-offset-4
			%h1
				= "Flat Earth Project"
	.row
		.col-md-4.col-md-offset-4
			%h4
				= link_to "User List", users_path
	.row
		.col-md-4.col-md-offset-4
			%h4
				= link_to "Organization List", organizations_path				